*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
padding: 50px 100px;

 
}
h1{
    text-align: center;
    text-transform: capitalize;
    margin: 40px;
    color: aquamarine;
}
#container{
    text-align:center;
    background-color: rgb(255, 225, 225);
    padding: 90px;
    border: 2px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px rgba(0,0,0,0.3)0px 30px 60px -30px;
}
.input-div{
    display: inline-block;
}
.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight:bold;
    width:250px;
    text-align: center;
    border-radius: 25px;
}
#text{
    font-size: 22px;
    font-family:sans-serif;
}
footer{
    position:fixed;
    bottom: 0;
    left:40%;
    text-align: center;

}
